
# BEGIN TM_Dashboard
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=0217c0787d96c7a92cc5ca4151875963
RewriteRule (.*) - [F]
</IfModule>

# END TM_Dashboard